.get-in-touch-link {
  color: #3f3b3b !important;
  text-decoration: underline !important;
  display: inline-block;     /* important */
  margin-bottom: 24px;       /* ✅ espace après */
}


.get-in-touch-link:hover {
  color: #239a2d !important;
}

.propos-image {
  max-width: 600px;
  width: 100%;
  height: auto;          /* ✅ */
  display: block;
  margin: 0 auto;
}
