.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/login-back.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.4);
  background-blend-mode: multiply;
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 20px 60px rgba(0,0,0,.3);
}
