#home {
    position: relative;
    background-image: url('/assets/images/image_landing_background.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    .overlay {
      background: rgba(0, 0, 0, 0.5);
    }
    .content {
      z-index: 2;
    }
    .btn-success {
      --bs-btn-bg: #32aa27;
      --bs-btn-border-color: #32aa27;
      --bs-btn-hover-bg: #2b8f22;
      --bs-btn-hover-border-color: #2b8f22;
      --bs-btn-active-bg: #257a1d;
      --bs-btn-active-border-color: #257a1d;
    }
  }
  