#home {
    position: relative;
    background-image: url('/assets/images/image_landing_background.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    .overlay {
      background: rgba(0, 0, 0, 0.5);
    }
    .content {
      z-index: 2;
    }
  }
  